*{
    margin:0px;
    padding:0px;
}

body{
    background-image: url(images/map_op51.jpg);
}

#container{
    width:960px;
    margin:auto;
    
    /*border:solid blue 2px;*/
}

/* h1 tag styles the heading for each page */
h1{
    font-family: 'Homemade Apple', cursive;
    color: #004080;
    margin: 0px 40px;
}

h1 span{
    font-family: serf;
    font-size:100px;
}

h1 a{
    text-decoration: none;
    color: #004080;
}

/* start of menu bar styling */
.menu ul{
    display: table;
    width: 100%;
    background-color: #ffcc00;
}

.menu ul li{
    display: table-cell;
    text-align: center;
    width: 25%;
}

.menu a{
     text-decoration: none;
     font-size:20px;
    font-weight: bold;
    font-family: sarif;
    color: #004080;
}

.menu a:hover{
    color: blue;
}
/* end of menu bar styling */


/* start content styling */

h3{
    font-family: 'Homemade Apple', cursive;
    color: #004080;
    margin: 0px 40px;
    font-size:30px;
    text-align:center;
}

h3 span{
    font-family: serf;
    font-size:60px;
    text-align:center;
}

.info{
    margin: 40px 0px;
    border: solid 2px;
    background-color: #ffffff;
}

.info h2{
    text-align:center;
    font-size: 30px;
    font-family: Garamond, sans-serif;
}

.info h2 span{
    font-size: 60px;
    font-family: Garamond, sans-serif;
}

.info p{
    margin: 30px 100px;
    text-align:justify;
    font-size: 20px;
    font-family: Garamond, sans-serif;
    font-weight: bold;
    
}

.info img{
    display:block;
    margin: 20px auto;
    border: solid 4px #004080 ;
    
}



.info ol{
    position: static;
    margin: 10px 30px;
    
    
}

.info ol li{
    position: relative;
    left:40px;
    font-size: 20px;
    font-family:Garamond, sans-serif;
    
}

h4{
    font-family: serf;
    font-size:30px;
    text-align:center;
}

.info ul{
    position: static;
    font-size:20px;
    margin:10px 20px;
    
    
}

.info ul li{
    position: relative;
    left:20px;
    font-size: 20px;
    font-family:Garamond, sans-serif;
    
}


/* end of content styling */